<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>414626078341-ip7pv61folo0kvu9dtc8d21itbci7jdb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.414626078341-ip7pv61folo0kvu9dtc8d21itbci7jdb</string>
	<key>API_KEY</key>
	<string>AIzaSyDAz7etcSDYJpNRaBP19UNui0kcosd21Qo</string>
	<key>GCM_SENDER_ID</key>
	<string>414626078341</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.smogbuddy</string>
	<key>PROJECT_ID</key>
	<string>smog-buddy-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>smog-buddy-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:414626078341:ios:5dfb700b08e4ea2c6093ec</string>
	<key>DATABASE_URL</key>
	<string>https://smog-buddy-dev.firebaseio.com</string>
</dict>
</plist>